<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KhattClarifier</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='IndexStyles.css') }}" />
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Logo.ico') }}">



</head>

<body>

    <h1 id="title"> Welcome to KhattClarifier</h1>
    <p id="mainText">KhattClarifier is a Arabic Handwritten Text recognition website. Upload your image to continue!</p>


    <div class="container">
        <h3>Upload your Image</h3>
        <div class="drag-area">
            <div class="icon">
                <i class="fas fa-images"></i>
                
            </div>
            <span class="header"> Drag & Drop</span>
            <span class="header">or <span class="button">browse</span></span>
            <input type="file" hidden/>
            <span class="support">Supports: Jpeg, jpg, PNG</span>
        </div>
    </div>



    <script src="{{ url_for('static', filename='IndexScript.js' )}} "></script>

    <form action="/CropperScreen" method="POST" id="ImageForm" enctype="multipart/form-data">
            <input name="imageFile" id="imageFile" hidden type="file"/>
            <input hidden type="submit">
    </form>
</body>

</html>