<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recognized Text</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">

    <link href="{{ url_for('static', filename='RecognizedTextStyle.css') }}" rel="stylesheet"/>
</head>
<body>
    <h1 id="title">Recognized Text Can be Found Below!</h1>

    <textarea id="recognizedText" rows="10" cols="50">{{text}}</textarea>
</body>
</html>